.chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 70px;
    border-bottom: 1px solid #ffffff;
}
.chat_details {
    flex: 1;
}
.chat_details > p {
    color: grey;
}
.chat_timestamp {
    color: lightgrey;
}
.chat_image {
    margin-right: 20px;
}

.chatScreen_message {
    display: flex;
    align-items: center;
    padding: 20px;
}

.chatScreen_text {
    margin-left: 10px;
    background-color: lightgray;
    padding: 15px;
    border-radius: 20px;
}

.chatScreen_timestamp {
    text-align: center;
    padding: 20px;

}